ul.vertical {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    border: 1px solid #555555;
    /* Make it stick, even on scroll */
    /* position: fixed; */
    /* Enable scrolling if the sidenav has too much content */ 
    overflow: auto; 
    height: 100%;
    display: inline-table;
}

ul.vertical li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #555555;
}

/* Change the link and background color on hover */
ul.vertical li a:hover {
    background-color: #555555;
    color: white;
}

ul.vertical li:last-child {
    border-bottom: none;
}

ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

ul.horizontal li {
    float: left;
}

ul.horizontal li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.horizontal li a:hover {
    background-color: #111111;
}

div {
    border-bottom: 1px solid #555555;
}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
}
.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
} 

.flex-container {
    display: flex;
}
.flex-child {
    flex: 1;
    border: 2px solid yellow;
}  
.flex-child:first-child {
    width: fit-content;
} 

.grid-container {
    display: grid;
    grid-template-columns: fit-content(200px) 1fr;
    /* grid-gap: 20px; */
}

div.vertical {
    width: fit-content;
}